.outer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.header {
    background-color: rgb(83,108,163);
    width: 100%;
    margin-top: 1%;
    margin-bottom: 0;
}


.header h2 {
    margin: 0;
    color: rgb(239, 243, 255);
    padding: 0 1%;
}

.content {
    width: 100%;
    border: 2px solid rgb(83,108,163);
}
.content > :last-child {
    margin-bottom: 1%;
}
.content > :first-child {
    margin-top: 1%;
}

.innercontent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    padding: 0 1%;
}

.innercontent p1 {
    color: rgb(26, 26, 26);
    margin: 0;
    width: 11%;
    margin-right: 5%;
    padding-bottom: 1%;
}

.innercontent p {
    color: rgb(126, 126, 126);
    margin: 0;
    width: 89%;
}

@media (max-width: 600px) {
    .innercontent p1 {
        color: rgb(26, 26, 26);
        margin: 0;
        width: 15%;
        margin-right: 20%;
        padding-bottom: 1%;
    }

    .innercontent p {
        color: rgb(126, 126, 126);
        margin: 0;
        width: auto;
        padding-bottom: 1%;
    }
    
  }