html,
body {
  padding: 0;
  margin: 0;
  font-family: pixelfont;
  font-size:medium;
  word-spacing: -1px;
}

body h2 {
  font-weight: 100;
  margin: 0;
  padding: 10px;
  color: rgb(239, 243, 255)
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}


@font-face {
  font-family: 'pixelfont';
  src: url('../assets/fonts2/vcr_osd_mono_1.001-webfont.woff2') format('woff2'),
       url('../assets/fonts2/vcr_osd_mono_1.001-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;

}