.nav {
  background:
    linear-gradient(to right, rgb(215, 219, 231), rgb(83, 108, 163) 40%),
    url(https://grainy-gradients.vercel.app/noise.svg);
  height: 15vh;
  overflow: auto;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.leftnavbar {
  width: 100%;
  padding-right: 28%;
  padding-top: 1%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
}

.leftnavbar h1 {
  color: white;
  margin: 0;
  font-size: 80px;
  font-weight: bold;
}

.rightnavbar {
  width: 100%;
  padding-right: 33%;
  padding-bottom: 1%;
  display: flex;
  justify-content: flex-end;
}

.nav a {
  color: white;
  /* Text color for nav links */
  padding: 0 15px;
  /* Spacing around nav links */
  text-decoration: none;
  /* No underline on links */
  font-weight: normal;
  /* Bold font for links */
  font-size: large;
}

@media (max-width: 600px) {
  .nav {
    justify-content: center;
  }

  .leftnavbar {
    width: 100%;
    padding-right: 0;
    padding-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .leftnavbar h1 {
    color: white;
    margin: 0;
    font-size: 60px;
    font-weight: bold;
  }

  .rightnavbar {
    width: 100%;
    padding-right: 0%;
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
  }
  

}