/* AboutMe.module.css */

.main {
  width: 100%;
  padding: 1rem;
  height: 85vh;
  overflow: auto;
  margin: 0;
}

.sidecontent {
  width: 24%;
  height: auto;
  overflow: auto;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1%;
}


.maincontent {
  width: 75%;
  height: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  float: right;
  border: 2px solid rgb(83,108,163);
}

.subheader {
  background-color: rgb(83,108,163);
}

.subheader h2 {
  color: rgb(239, 243, 255);
  margin: 0;
  padding: 0 1%;
}

.pictureheader {
  width: 100%;
  background-color: rgb(83,108,163);
}

.pictureheader h2 {
  margin: 0;
  padding: 0 1%;
}

.infomationTab {
  width: 100%;
  display: flex;
  flex-direction: row;
}





@media (max-width: 600px) {
  .sidecontent {
    min-height: 400px;
    height: auto;
    width: 100%;
    margin-bottom: 1%;
  }

  .maincontent {
    min-height: 400px;
    height: auto;
    overflow: auto;
    width: 100%;
  }
}